<a href="https://colab.research.google.com/github/yotam-biu/tutorial12/blob/main/basic_numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

## 1. Data Type

In [ ]:
arr = np.array([1,127,128])
arr, arr.dtype

In [ ]:
arr_uint8 = np.array([1,127,128,255], dtype=np.uint8)
arr_uint8

In [ ]:
arr_uint8 + 1 # 256 is out of range

In [ ]:
arr_float16 = np.array([1,10**3, 10**4], dtype=np.float16)
arr_float16 * 10 # 10^5 is out of range

In [ ]:
arr_float32 = np.array([1,10**4,10**5], dtype=np.float32)
arr_float32

## 2. Creating an Array

In [ ]:
range_arr = np.arange(1,20,2)
range_arr

In [ ]:
zeros = np.zeros(2)
zeros, zeros.dtype

In [ ]:
zeros = np.zeros_like(range_arr)
zeros, zeros.dtype

In [ ]:
mat = np.zeros((3,4))
mat

## 3. Mathematical Operation

In [ ]:
range_arr + 1

In [ ]:
range_arr + range_arr

In [ ]:
range_arr**2

## 4. Change Value in an Array

In [ ]:
my_arr = np.array([1,2,3])
my_arr[1] = 20
my_arr

In [ ]:
my_arr = np.array([1,2,3])
my_arr[1:] = [20,30]
my_arr

In [ ]:
my_arr = np.array([1,2,3])
my_arr = 20
my_arr

In [ ]:
my_arr = np.array([1,2,3])
my_arr[:] = 20
my_arr

In [ ]:
my_arr = np.array([1,2,3])
my_arr[1:] = 20
my_arr

In [ ]:
range_arr > 10

In [ ]:
range_arr[range_arr > 10]

In [ ]:
range_arr[range_arr > 10] = 100
range_arr

## 5. Reduce the array dimension

In [ ]:
mat = np.array([[1,2,3],[10,20,30],[100,200,300]])
np.sum(mat, axis=0)

In [ ]:
np.sum(mat, axis=1)

In [ ]:
np.mean(mat, axis=1)